<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ManMan.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18F972E421B7F8AE00FFAB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F972F821B7F8B000FFAB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18F9730321B7F8B100FFAB90</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
